# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/

# Generated / symbol files
app.*.symbols
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/

**/android/.gradle/
**/captures/

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/ephemeral/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# macOS
/macos/Pods/
/macos/Flutter/ephemeral/

# Linux
/linux/flutter/ephemeral/

# Windows
/windows/flutter/ephemeral/

# Web
/web/build/


GoogleService-Info.plist

# Archive files
*.zip
*.tar.gz
*.rar

# APK / AAB / IPA
*.apk
*.aab
*.ipa

# Local / generated extras
aab_out/
**/aab_out/
.metadata
build_log.txt
ios/Podfile.lock
